@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


/*Title: 42px

Headlines: 26px

Sub-headlines: 20px

Primary Text: 16px

Secondary Text: 13px
*/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 16px 'Open Sans', sans-serif;
  line-height: 1.5263157895;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
  color: #111;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a { color: inherit; text-decoration: underline}
a:hover {
  text-decoration: underline;
}

/*****************************************************************************/
/*
/* Site styles
/*
/*****************************************************************************/

body {
  background-color: #F9F9F9;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  max-width: 320px;
}

.masthead {
  background: #18354B;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

.posts__title {
  font-weight: 300;
}

.post p:first-of-type {
  font-size: 22px;
  font-weight: 100;
}

.post__hd {
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.post__title {
  margin-bottom: 0;
  font-weight: 100;
  color: #eee;
}

.post__meta {
  margin: 0;
  color: #ccc;
}

.blog {
  display: flex;
  position: relative;
  z-index: 10;
}

.header {
  padding: 10px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.content {
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content--home {
  background-color: #1C3044;
}

.back-up {
  position: absolute;
  top: -300px;
  left: 20px;
  font-size: 50px;
  color: #ccc;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
}

.back-up:hover {
  color: #bbb;
}

/*.intro {
  -webkit-transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  border-top: 0;
  border-radius: 2px;
  color: #555 !important;
  text-decoration: none;
}
*/ 

.intro {
  text-decoration: none;
}

.logo {
  color: #fff !important;
  font-weight: 700;
  letter-spacing: -0.1022727273em;
  font-size: 52px;
  text-decoration: none;
  position: absolute;
  -webkit-transition: all 0.5s ease;
}

.logo__tick {
  color: #7CCD2F;
}

.logo:before {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #fff;
  content: 'Back to home';
  display: block;
  font-weight: 300;
  letter-spacing: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
}

.logo:hover {
  text-decoration: none;
}

.logo:hover:before {
  opacity: 0.5;
  -webkit-transform: translateY(10px);
}

.logo--home:before {
  display: none;
}

.logo--home {
  font-size: 80px;
  position: relative;
}

.intro {
  background-color: #1C3044;
}

.unstyled {
  list-style: none;
  margin-left: 0;
}

.intro__title {
  text-decoration: none;
  background-color: #fefefe;
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  margin: 0;
  padding: 5px 15px;
}

.intro__title a {
  color: #333;
  text-decoration: none;
}

.intro__title a:hover {
  color: #333;
  text-decoration: none;
}

.intro__title span {
  font-weight: bold;
}

.intro__img {
  height: 200px;
  background-size: cover;
  background-color: #555;
  background-position: center;
}

.intro__body {
  font-size: 14px;
  padding: 0 15px;
}

.minimal .logo {
  opacity: 0;
  -webkit-transform: scale(0.9) translateY(-200px);
  -moz-transform: scale(0.9) translateY(-200px);
  transform: scale(0.9) translateY(-200px);
}

.minimal .back-up {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  transform: translateY(300px);
}

@media only screen and (max-width: 1340px)  {


  .masthead {
    height: 360px;
  }

  .post {
    padding: 15px;
  }
  
  .post p:first-of-type {
    font-size: 18px;
  }

  .intro {
    background: none;
    border: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff !important;
  }

  .intro__title {
    background: none;
    border: 0;
    color: #fff;
  }

  .intro__body {
    display: none;
  }

  .post__hd {
    height: 214px;
    justify-content: flex-end;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }

  .post__title {
    line-height: 1.3;
  }

  .intro__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .back-up {
    display: none;
  }

  .header {
    position: static;
    max-width: 600px;
    margin: 0 auto;
  }

  .blog {
    display: block;
  }

}

